* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

::-moz-selection {
  color: #ff0000;
  background-color: #000000b0;
}

::selection {
  color: #ff0000;
  background-color: #000000b0;
}

body {
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-attachment: fixed;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wave2 {
  position: absolute;
  width: 100%;
}

header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #33333391;
  text-align: center;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

header:hover {
  background-color: #333333;
}

header:hover ul li a {
  color: #ff2424;
}

header:hover .logo {
  rotate: -10deg;
}

header .logo {
  width: 10vh;
  margin-top: 8px;
  border-radius: 50%;
  margin-right: 80vh;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

header ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header ul li {
  padding: 2px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header ul li a {
  color: #fff;
  font-size: 3.5vh;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

#intro {
  padding-top: 1px;
  height: 99vh;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
}

#intro #particles-js {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#intro .title {
  color: #ffff00;
  font-size: 12vh;
  margin-top: 20vh;
  -webkit-animation: title ease-in 5s infinite alternate;
          animation: title ease-in 5s infinite alternate;
}

@-webkit-keyframes title {
  0% {
    color: #ffbb00;
  }
  25% {
    color: #00ff88;
  }
  50% {
    color: #00fff2;
  }
  75% {
    color: #fff;
  }
  100% {
    color: #ff3c3c;
  }
}

@keyframes title {
  0% {
    color: #ffbb00;
  }
  25% {
    color: #00ff88;
  }
  50% {
    color: #00fff2;
  }
  75% {
    color: #fff;
  }
  100% {
    color: #ff3c3c;
  }
}

#intro p {
  font-size: 3vh;
  color: #e0e0e0;
  margin-top: 1vh;
  margin-bottom: 6vh;
}

#intro .ilustracionInicio {
  margin-bottom: 8vh;
  width: 35vh;
  -webkit-animation: sacudir ease-in 1s infinite alternate;
          animation: sacudir ease-in 1s infinite alternate;
}

@-webkit-keyframes sacudir {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes sacudir {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

#intro .btDown a {
  font-size: 4vh;
  position: relative;
  background-color: #0000007e;
  padding: 5px 20px;
  border: 1px solid #00ffb3;
  border-radius: 5px;
  color: #00ffb3;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#intro .btDown a:hover {
  background-color: #00ffb3ab;
  border: 1px solid #000;
  color: #000;
}

#quiensoy {
  padding: 200px 50px;
  background-color: #333333;
}

#quiensoy h2 {
  font-size: 7vh;
  color: #fff;
}

#quiensoy .quesoy {
  color: #ff2424;
}

#quiensoy p {
  font-size: 3vh;
  color: #cecece;
  margin-bottom: 40px;
}

#quiensoy .blanco {
  color: white;
  font-size: 3.5vh;
}

#quiensoy .sabermas-bt {
  font-size: 4vh;
  color: #fff;
  padding: 7px 15px;
  background-color: #000000c2;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#quiensoy .sabermas-bt:hover {
  background-color: #00000033;
}

#quiensoy .ilustracion {
  float: right;
  width: 40vh;
  margin-left: 300px;
  -webkit-animation: rotar ease-in 0.7s infinite alternate;
          animation: rotar ease-in 0.7s infinite alternate;
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotate(0.7deg);
            transform: rotate(0.7deg);
  }
  100% {
    -webkit-transform: rotate(-0.7deg);
            transform: rotate(-0.7deg);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotate(0.7deg);
            transform: rotate(0.7deg);
  }
  100% {
    -webkit-transform: rotate(-0.7deg);
            transform: rotate(-0.7deg);
  }
}

#quiensoy .icon {
  color: #fff;
  padding: 10px;
  font-size: 6vh;
  margin: 30px 20px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #00000046;
}

#proyectos {
  text-align: center;
  padding: 170px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ffab), color-stop(50%, #007dff), to(#0001ff));
  background: linear-gradient(180deg, #00ffab 0%, #007dff 50%, #0001ff 100%);
}

#proyectos h2 {
  margin: 8vh;
  font-size: 7vh;
  color: #fff;
}

#proyectos .lmImg, #proyectos .ptImg, #proyectos .pyImg {
  width: 60vh;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#proyectos .lmImg:hover, #proyectos .ptImg:hover, #proyectos .pyImg:hover {
  opacity: 1;
}

.tecnologias {
  padding-top: 100px;
  text-align: center;
}

.tecnologias h2 {
  font-size: 7vh;
  color: #fff;
}

.tecnologias .js {
  width: 20vh;
}

.tecnologias .php {
  width: 23vh;
}

.tecnologias .html {
  width: 16vh;
}

.tecnologias .css {
  width: 18.5vh;
}

.tecnologias .mysql {
  width: 30vh;
}

#contact {
  padding: 100px 0;
}

#contact h2 {
  font-size: 7vh;
  margin-bottom: 30px;
  color: #fff;
}

#contact input {
  text-align: center;
  width: 50%;
  padding: 5px;
  font-size: 3vh;
  margin: 15px 0;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

#contact input:hover {
  width: 52%;
}

#contact #textarea {
  text-align: center;
  min-width: 50%;
  max-width: 50%;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
  padding: 5px;
  font-size: 3vh;
  border: 1px solid #000;
  border-radius: 5px;
}

#contact .enviar {
  width: 20%;
  margin-top: 30px;
  font-size: 3vh;
  background-color: #006eff;
  color: #fff;
  cursor: pointer;
}

#contact .enviar:hover {
  width: 22%;
}
/*# sourceMappingURL=estilos.css.map */